
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="E&N Mimarlık Isparta - Özakça Mimarlık Isparta - Mimarlık - Apart - Çizim - Mimari - Statik">
    <link rel="shortcut icon" href="~/ENMimarlik/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/ENMimarlik/stillers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>




<body>
    <div class="menu-bar">

            @Html.Action("FirmaLogosu_SolKose", "Sayfalar")

        <div class="menu">
            <input type="checkbox" id="kontrol" >
            <label for="kontrol" class="kontrol">
                <i class="fas fa-bars" ></i>
            </label>

            <ul>
                <li><a href="/Sayfalar/Anasayfa/">Anasayfa</a></li>
                <li><a href="/Sayfalar/Hakkimizda/">Hakkımızda</a></li>
                <li><a href="/Sayfalar/NelerYapiyoruz/">Neler Yapıyoruz?</a></li>
                <li><a href="/Sayfalar/Projelerimiz/">Projelerimiz</a></li>
                <li><a href="/Sayfalar/Iletisim/">İletişim</a></li>
            </ul>
        </div>
        <div class="social-media">
            @Html.Action("SosyalMedyaPartial", "Sayfalar")
        </div>

        <div class="login" >
            <a href="/Login/LoginIndex" class="fa-solid fa-circle-user"></a>
        </div>
    </div>

    @RenderBody()


    <div class="alt-alan">
        <div class="icerik">
            <h1 class="alt-baslik">Bize Ulaşın</h1>
            @Html.Action("IletisimBilgileri_Footer", "Sayfalar")
        </div>

        <div class="icerik">
            <h1 class="alt-baslik">Hizmetler</h1>
            @Html.Action("HizmetBilgileri_Footer", "Sayfalar")
        </div>

        <div class="icerik">
            <h1 class="alt-baslik">Sosyal Medya</h1>
            @Html.Action("SosyalMedyaPartial", "Sayfalar")

        </div>
    </div>

</body>

</html>









