@model ENGrupMimarlikIsparta.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<title>Personel Ekle | E&N Mimarlık Isparta Özakça Mimarlık</title>



<div class="galeri">
    <center>
    <div class="web">
        <h2>PERSONEL EKLE</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
    </center>
</div>

<form class="form-group" method="post" style="margin: 25px 35px 35px 35px" enctype="multipart/form-data">
    <h2>Personel Ekleme Sayfası</h2>


    @Html.Label("Fotoğraf")
    <br />

    <div style="justify-content: center; align-items: center; ">
        <img id="fotogragPreview" src="" alt="Resim Yüklenemedi" class="form-control" style="width:450px; height:450px; display: none;" />
        <br />
        <input id="FotografInput" type="file" name="Fotograf" />
    </div>

    @Html.Label("Ad Soyad")
    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })

    @Html.Label("Ünvan")
    @Html.TextBoxFor(x => x.Unvan, new { @class = "form-control" })

    @Html.Label("Telefon Numarası")
    @Html.TextBoxFor(x => x.TelefonNumarasi, new { @class = "form-control" })


    <br />
    <button class="btn btn-success">EKLE</button>
</form>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#fotografTuru").change(function () {
            var selectedOption = $(this).val();
            if (selectedOption === "TekliFotograf") {
                $("#aciklamaliFotograf").hide();
                $("#tekliFotograf").show();
            } else {
                $("#tekliFotograf").hide();
                $("#aciklamaliFotograf").show();
            }
        });
    });

    document.getElementById("FotografInput").addEventListener("change", function () {
        var preview = document.getElementById("fotogragPreview");
        var file = this.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = "block"; // Resim yüklendiğinde görünür yapılıyor.
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.style.display = "none"; // Resim yüklenmediğinde gizleniyor.
        }
    });
</script>


