@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<IletisimBilgileri>

@{
    ViewBag.Title = "IletisimIndex";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}

<div class="hakkimizda-background">
    <center>
        <h1 class="background-sirket-ismi">E & N GRUP MİMARLIK</h1>
        <h1 class="background-sayfa-ismi">iletişim</h1>
    </center>
</div>


@foreach (var item in Model)
{
    <div class="iletisim-bolme2">
        <div class="iletisim-bolme2-img projeSize">

            <iframe style="width:900px; height:600px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d658.2744991038069!2d30.55154970906273!3d37.76684362867417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c5b5be30f14839%3A0x97398e7f6ffb7128!2sPirimehmet%2C%201728.%20Sk.%20No%3A5%2C%2032100%20Isparta%20Merkez%2FIsparta!5e0!3m2!1str!2str!4v1685915397450!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


            @*<img style="width:900px; height:600px" src="@item.Fotograf" alt="">*@
        </div>
        <div class="iletisim-bolme2-text">
            <p class="iletisim-baslik">Adres</p>
            <p class="iletişim-ayrinti">@item.Adres</p>

            <p class="iletisim-baslik">Email</p>
            <p class="iletişim-ayrinti">@item.Email</p>

            <p class="iletisim-baslik">İletişim Numarası</p>
            <p class="iletişim-ayrinti">@item.TelefonNumarasi_1</p>
            <p class="iletişim-ayrinti">@item.TelefonNumarasi_2</p>
        </div>
    </div>

    <br />
    <div style="text-align: right; margin-right: 50px ">
        <a class="btn btn-warning" href="/Mesaj/MesajBirak/">Mesaj Bırak</a>

    </div>
}
<br />










