@model ENGrupMimarlikIsparta.Models.Siniflar.IletisimBilgileri
@{
    ViewBag.Title = "IletisimBilgisiGetir";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}


<div class="hakkimizda-background">
    <center>
        <h1 class="background-sirket-ismi">E & N GRUP MİMARLIK</h1>
        <h1 class="background-sayfa-ismi">İletişim</h1>
    </center>
</div>

@using (Html.BeginForm("IletisimBilgisiGuncelle", "Iletisim", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group" style="margin:25px 35px 35px 35px">

        <h2>İletişim Bilgilerini Güncelleme Sayfası</h2>
        @Html.HiddenFor(x => x.IletisimID)

        @Html.Label("Fotoğraf")
        <br />
        @Html.DisplayFor(x => x.Fotograf, new { @class = "form-control" })
        <input type="file" name="Fotograf" class="form-control btn btn-info" />

        @Html.Label("Adres")
        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })

        @Html.Label("Email")
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

        @Html.Label("İletişim Numarası_1")
        @Html.TextBoxFor(x => x.TelefonNumarasi_1, new { @class = "form-control" })

        @Html.Label("İletişim Numarası_2")
        @Html.TextBoxFor(x => x.TelefonNumarasi_2, new { @class = "form-control" })

        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}



