@model ENGrupMimarlikIsparta.Models.Siniflar.Admin 
@{
    ViewBag.Title = "AdminBilgileriniGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<title>Admin Güncelle | E&N Mimarlık Isparta Özakça Mimarlık</title>

@using (Html.BeginForm("AdminGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group" style="margin:25px 35px 35px 35px">


    @Html.HiddenFor(x => x.AdminID)


    <h2>Admin Güncelle</h2>
    @Html.Label("Kullanıcı Adı (*)")
    <div>
        @Html.ValidationMessageFor(x => x.KullaniciAdi)
    </div>
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })


    @Html.Label("Email (*)")
    <div>
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })


    @Html.Label("Yetki Statüsü (*)")
    <div>
        @Html.ValidationMessageFor(x => x.YetkiStatusu)
    </div>
    @Html.TextBoxFor(x => x.YetkiStatusu, new { @class = "form-control" })


    @Html.Label("Şifre (*)")
    <div>
        @Html.ValidationMessageFor(x => x.Sifre)
    </div>
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })



    @Html.Label("Şifre Tekrar (*)")
    <div>
        @Html.ValidationMessageFor(x => x.SifreTekrar)
    </div>


    @Html.TextBoxFor(x => x.SifreTekrar, new { @class = "form-control" })

    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>
</div>
}





