@model ENGrupMimarlikIsparta.Models.Siniflar.Detaylar
@{
    ViewBag.Title = "VeriEkle";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}

<title>Anasayfa Ekle | E&N Mimarlık Isparta Özakça Mimarlık</title>
<div class="galeri">
    <div class="web">
        <h2>ANASAYFA</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
</div>

<form class="form-group" method="post" style="margin: 25px 35px 35px 35px" enctype="multipart/form-data">
    <h2>Ana Sayfaya Veri Ekle</h2>

    @Html.Label("Fotoğraf Türü")
    <select id="fotografTuru" class="form-control">
        <option value="TekliFotograf">Sadece Fotoğraf</option>
        <option value="NormalFotograf">Açıklamalı Fotoğraf</option>
    </select>

    @Html.Label("Fotoğraf")
    <br />
    <div style="justify-content: center; align-items: center; ">
        <img id="fotogragPreview" src="" alt="Resim Yüklenemedi" class="form-control" style="width:800px; height:550px; display: none;" />
        <br />
        <input id="FotografInput" type="file" name="Fotograf" />
    </div>

    <div id="aciklamaliFotograf" style="display:none">
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })


        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })


    </div>
    <br />
    @Html.Label("Resim Yönü")
    <select class="form-control" name="Yonu">
        <option value="Orta">Orta</option>
        <option value="Sağ">Sağ</option>
        <option value="Sol">Sol</option>
    </select>

    <br />
    <button class="btn btn-success">EKLE</button>
</form>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#fotografTuru").change(function () {
            var selectedOption = $(this).val();
            if (selectedOption === "TekliFotograf") {
                $("#aciklamaliFotograf").hide();
                $("#tekliFotograf").show();
            } else {
                $("#tekliFotograf").hide();
                $("#aciklamaliFotograf").show();
            }
        });
    });

    document.getElementById("FotografInput").addEventListener("change", function () {
        var preview = document.getElementById("fotogragPreview");
        var file = this.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = "block"; // Resim yüklendiğinde görünür yapılıyor.
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.style.display = "none"; // Resim yüklenmediğinde gizleniyor.
        }
    });
</script>

