@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<Detaylar>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<title>Anasayfa | E&N Mimarlık Isparta Özakça Mimarlık</title>


<div class="galeri">
    <div class="web">
        <h2>ANASAYFA</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
</div>


@foreach (var item in Model)
{

    if (!string.IsNullOrEmpty(item.Fotograf) && item.Yonu != "Orta")
    {
        <div class="orta-alan">
            <div class="orta">
                @if (!string.IsNullOrEmpty(item.Fotograf) && item.Yonu == "Sol")
                {
                    <div class="icerik">
                        <img class="orta-alan-img" src="@item.Fotograf">
                    </div>
                }
                @if (!string.IsNullOrEmpty(item.Baslik) || !string.IsNullOrEmpty(item.Aciklama))
                {
                    <div class="icerik">
                        @if (!string.IsNullOrEmpty(item.Baslik))
                        {
                            <h3>@item.Baslik</h3>
                        }
                        @if (!string.IsNullOrEmpty(item.Aciklama))
                        {
                            <p>@item.Aciklama</p>
                        }
                    </div>
                }

                @if (!string.IsNullOrEmpty(item.Fotograf) && item.Yonu == "Sağ")
                {
                    <div class="icerik">
                        <img src="@item.Fotograf">
                    </div>
                }
            </div>
        </div>

    }

    if (!string.IsNullOrEmpty(item.Fotograf) && item.Yonu == "Orta")
    {
        <div class="orta-galeri">
            <div class="orta-galeri-orta">
                @if (!string.IsNullOrEmpty(item.Baslik) || !string.IsNullOrEmpty(item.Aciklama))
                {
                    <div class="icerik">
                        @if (!string.IsNullOrEmpty(item.Baslik))
                        {
                            <h3>@item.Baslik</h3>
                        }
                        @if (!string.IsNullOrEmpty(item.Aciklama))
                        {
                            <p>@item.Aciklama</p>
                        }
                    </div>
                }


                @if (!string.IsNullOrEmpty(item.Fotograf) && item.Yonu == "Orta")
                {
                    <div class="icerik">
                        <img src="@item.Fotograf">
                    </div>
                }
            </div>
        </div>
    }

    if (Roles.IsUserInRole("A"))
    {
        <div class="sil-duzenle-buton">
            <a class="btn btn-danger glyphicon glyphicon-trash" href="/Anasayfa/VeriSil/@item.DetayID"></a>
            <a class="btn btn-success glyphicon glyphicon-pencil" href="/Anasayfa/AnasayfaVerileriniGetir/@item.DetayID"></a>
        </div>
    }
}

@if (Roles.IsUserInRole("A"))
{
    <div class="sil-duzenle-buton">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="/Anasayfa/VeriEkle/"></a>
    </div>
    <br />
}

