
@{
    if (!string.IsNullOrEmpty(@ViewBag.facebookAdresi))
    {
        <a class="bi bi-facebook" target="_blank" style="font-size: 25px; color: #3b5998; text-decoration: none" href="@ViewBag.facebookAdresi">
        </a>
    }
    if (!string.IsNullOrEmpty(@ViewBag.twitterAdresi))
    {
        <a class="bi bi-twitter" target="_blank" style="font-size: 25px; color: #1da1f2; text-decoration: none " href="@ViewBag.twitterAdresi">
        </a>
    }

    if (!string.IsNullOrEmpty(@ViewBag.instagramAdresi))
    {
        <a class="bi bi-instagram" target="_blank" style="font-size: 25px; color: #c13584; text-decoration: none" href="@ViewBag.instagramAdresi">
        </a>
    }

    if (!string.IsNullOrEmpty(@ViewBag.linkedinAdresi)) 
    {
        <a class="bi bi-linkedin" target="_blank" style="font-size: 25px; color: #0077b5; text-decoration: none" href="@ViewBag.linkedinAdresi">
        </a>
    }


}

